@use "vars";

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
}
.menu {
    display: none;
}
.logo {
    width: 100px;
}
.navbar-left ul,
.navbar-right ul {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.navbar-left {
    display: flex;
    margin-left: 12px;
}
.navbar-left ul {
    margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}
.navbar-email {
    margin-right: 12px;
    color: var(--very-light-pink);
    font-size: var(--sm);
}
.navbar-shopping-cart {
    position: relative;
}
.navbar-shopping-cart div {
    position: absolute;
    display: flex;
    width: 16px;
    height: 16px;
    top: -6px;
    right: -3px;
    justify-content: center;
    align-items: center;
    font-size: var(--sm);
    font-weight: bold;
    background-color: var(--hospital-green);
    border-radius: 50%;
}
@media (max-width: 640px) {
    .menu {
        display: block;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-email {
        display: none;
    }
}
