@use "vars";

.Navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
}
.Navbar__menu {
    display: none;
}
.Navbar-left__logo {
    width: 100px;
}
.Navbar-left__items,
.Navbar-right__items {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.Navbar-left {
    display: flex;
    margin-left: 12px;
}
.Navbar-left__items {
    margin-left: 12px;
}
.Navbar-left__items .Navbar__item,
.Navbar-right__items .Navbar__item {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}
.Navbar-left__items .Navbar__item:hover,
.Navbar-right__items .Navbar__item:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}
.Navbar-right__email {
    margin-right: 12px;
    color: var(--very-light-pink);
    font-size: var(--sm);
    cursor: pointer;
}
.Navbar-right__cart {
    position: relative;
}
.Navbar-right__cart div {
    position: absolute;
    display: flex;
    width: 16px;
    height: 16px;
    top: -6px;
    right: -3px;
    justify-content: center;
    align-items: center;
    font-size: var(--sm);
    font-weight: bold;
    background-color: var(--hospital-green);
    border-radius: 50%;
}
@media (max-width: 640px) {
    .Navbar__menu {
        display: block;
    }
    .Navbar-left__items {
        display: none;
    }
    .Navbar-right__email {
        display: none;
    }
}
