.Home-container {
    width: 80%;
    margin: 50px auto;
}
.Home-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}
@media (max-width: 640px) {
    .Home-container {
        width: 100%;
        padding: 0 16px;
    }
    .Home-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
    }
}
