@use "vars";

.NewPassword {
    display: grid;
    width: 100%;
    height: 100vh;
    place-items: center;
}
.NewPassword-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.NewPassword__icon {
    display: none;
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
}
.NewPassword-form {
    display: flex;
    flex-direction: column;
}
.NewPassword-form__label {
    margin-bottom: 4px;
    font-size: var(--sm);
    font-weight: bold;
}
.NewPassword-form__input {
    height: 30px;
    margin-bottom: 12px;
    padding: 6px;
    font-size: var(--md);
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
}
.NewPassword-form__input--mb22 {
    margin-bottom: 22px;
}
@media (max-width: 640px) {
    .NewPassword__icon {
        display: block;
    }
}
