@use "vars";

.PrimaryInputSubmit {
    width: 100%;
    height: 50px;
    margin-top: 14px;
    margin-bottom: 30px;
    font-size: var(--md);
    font-weight: bold;
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    cursor: pointer;
}
