@use "vars";

.ProductCard {
    width: 240px;
}
.ProductCard img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.ProductCard figure {
    margin: 0;
}
.ProductCard-info {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    align-items: center;
}
.ProductCard-info figure img {
    width: 35px;
    height: 35px;
}
.ProductCard-info div p:nth-child(1) {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: var(--md);
    font-weight: bold;
}
.ProductCard-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}
@media (max-width: 640px) {
    .ProductCard {
        width: 140px;
    }
    .ProductCard img {
        width: 140px;
        height: 140px;
    }
}
