.ProductList-container {
    width: 80vw;
    margin: 74px auto;
    box-sizing: border-box;
}
.ProductList-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}
@media (max-width: 640px) {
    .ProductList-container {
        width: 100%;
        padding: 0 16px;
    }
    .ProductList-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
    }
}
