@use "vars";

.ProductItem {
    display: grid;
    margin-bottom: 24px;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    gap: 16px;
}
.ProductItem p:nth-child(2) {
    color: var(--very-light-pink);
}
.ProductItem p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}
.ProductItem figure {
    margin: 0;
}
.ProductItem figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
