@use "vars";

.RecoveryPassword {
    display: grid;
    width: 100%;
    height: 100vh;
    place-items: center;
}
.RecoveryPassword-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    width: 300px;
}
.RecoveryPassword-logo {
    display: none;
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
}
.email-image {
    display: flex;
    width: 132px;
    height: 132px;
    margin-bottom: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--text-input-field);
}
.email-image img {
    width: 80px;
}
.RecoveryPassword--resend {
    font-size: var(--sm);
}
.RecoveryPassword--resend span {
    color: var(--very-light-pink);
}
.RecoveryPassword--resend a {
    color: var(--hospital-green);
    text-decoration: none;
}
@media (max-width: 640px) {
    .RecoveryPassword--logo {
        display: block;
    }
}
