.ShoppingCart {
    position: absolute;
    right: 0;
    width: 360px;
    padding: 24px;
    box-sizing: border-box;
}
.ShoppingCart__title {
    display: flex;
}
.ShoppingCart__title img {
    transform: rotate(180deg);
    margin-right: 14px;
}
.ShoppingCart-orderItem--flex {
    display: grid;
    margin-bottom: 24px;
    padding: 0 24px;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    border-radius: 8px;
}
.ShoppingCart-orderItem__text {
    font-weight: bold;
}
.ShoppingCart-orderItem__text--medium {
    font-size: var(--md);
}
.ShoppingCart-orderItem__text--end {
    text-align: end;
}
@media (max-width: 640px) {
    .ShoppingCart {
        width: 100%;
    }
}
