.product-detail {
    position: absolute;
    right: 0;
    width: 360px;
    padding: 24px;
    box-sizing: border-box;
}
.title-container {
    display: flex;
}
.title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
}
.order {
    display: grid;
    margin-bottom: 24px;
    padding: 0 24px;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    border-radius: 8px;
}
.order p:first-child {
    display: flex;
    flex-direction: column;
}
.order p span:first-child {
    font-size: var(--md);
    font-weight: bold;
}
.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}
@media (max-width: 640px) {
    .product-detail {
        width: 100%;
    }
}
